<div class="row container">
  <div class="column main">
    <router-outlet></router-outlet>
  </div>
  <div class="column">
    <div class="main row">
      <p class="language-button" 
      [ngClass]="[translate.currentLang == 'en' ? 'selected-language' : 'unselected-language']" 
      (click)="switchToEN()">EN
    </p>
      <p class="language-button" 
      [ngClass]="[translate.currentLang == 'pl' ? 'selected-language' : 'unselected-language']" 
      (click)="switchToPL()">PL
    </p>
    </div>
    <img class="quiz-man" [src]="'quiz-man.svg' | assetsImages" />
  </div>
</div>

