:host {
    height: 100%;
  }
  

.quiz-form{
    width: 480px;
    .form-head{
        flex: 1;
        color: #9E9E9E
    }
    .form-input{
        flex: 2;
    }
    .row {
        width:100%
    }
    .form-checkbox{
        margin-top: 48px;
        margin-bottom: 16px;
    }
}

.spinner{
    margin-top: 160px;
}