@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.main{
    flex: 1
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.container{
    height: 100%;
}

h1.page-title{
    margin-top: 40px;
}